<div class="column is-9">
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" id="biggreet">
                    Hello, Admin.
                </h1>
                <h2 class="subtitle">
                    I hope you are having a great day!
                </h2>
            </div>
        </div>
    </section>
    <!-- Form Section Start -->
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                Buat Project Baru
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <form id="contact-form">
                    <div class="field">
                        <label class="label">Nama</label>
                        <div class="control">
                            <input class="input" type="text" id="name" placeholder="Nama Proyek" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Enter your email" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Deskripsi</label>
                        <div class="control">
                            <textarea class="textarea" id="description" placeholder="Deskripsi proyek kakak" required></textarea>
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Buat</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-light" type="reset">Batal</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Form Section End -->
</div>
