<div class="column is-9">
  <section class="hero is-info welcome is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title" id="biggreet">Hello, Admin.</h1>
        <h2 id="subtitle" class="subtitle">
          I hope you are having a great day!
        </h2>
      </div>
    </div>
  </section>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">Buat Project Barumu</p>
    </header>
    <div class="card-content">
      <div class="content">
        <ol>
          <li>Jika kamu project owner buat project dahulu</li>
          <li>Masukkan nomor member ke dalam project setelahnya</li>
          <li>Setting WebHook di Repository</li>
        </ol>
      </div>
    </div>
  </div>
</div>
