<h1>Umpan Balik User</h1>
      <div class="field">
        <label class="label">Nama Proyek</label>
        <div class="control">
            <div class="select">
                <select id="kode" name="projectName" required>
                    <!-- Options akan diisi melalui JavaScript -->
                </select>
            </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Nama User</label>
        <div class="control">
          <input class="input" type="text" id="nama" placeholder="Nama Product Owner atau Reviewer">
        </div>
      </div>

      <div class="field">
        <label class="label">Kontak WhatsApp</label>
        <div class="control">
          <input class="input" type="text" id="phone" placeholder="nomor WhatsApp Product Owner/Reviewer">
        </div>
      </div>

      <div class="field">
        <label class="label">Masalah dan solusinya</label>
        <div class="control">
          <textarea class="textarea" id="solusi" placeholder="Tulis paparan pekerjaan yang sudah selesai"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolprogramtask">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="tombolcancelprogramtask">Batal</button>
        </div>
      </div>