<h1>Laporan Pekerjaan Selesai</h1>

      <div class="field">
        <label class="label">Nama Proyek</label>
        <div class="control">
            <div class="select">
                <select id="project-name" name="projectName" required>
                    <!-- Options akan diisi melalui JavaScript -->
                </select>
            </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Paparan</label>
        <div class="control">
          <textarea class="textarea" id="solusi" placeholder="Tulis paparan pekerjaan yang sudah selesai"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolpublishtask">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="tombolcancelpublistask">Batal</button>
        </div>
      </div>