<h1>Laporan Pekerjaan Selesai</h1>
      <div class="field">
        <label class="label">Kode Task</label>
        <div class="control">
          <input class="input" type="text" id="kode" placeholder="kodeproyek|||deskripsi">
        </div>
      </div>

      <div class="field">
        <label class="label">Product Owner/Reviewer</label>
        <div class="control">
          <input class="input" type="text" id="nama" placeholder="Nama Product Owner atau Reviewer">
        </div>
      </div>

      <div class="field">
        <label class="label">Kontak WhatsApp</label>
        <div class="control">
          <input class="input" type="text" id="phone" placeholder="nomor WhatsApp Product Owner/Reviewer">
        </div>
      </div>

      <div class="field">
        <label class="label">Paparan</label>
        <div class="control">
          <textarea class="textarea" id="solusi" placeholder="Tulis paparan pekerjaan yang sudah selesai"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolpublishtask">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="tombolcancelpublistask">Batal</button>
        </div>
      </div>