<h1>Laporan Pekerjaan Selesai</h1>
      <div class="field">
        <label class="label">Kode Task</label>
        <div class="control">
          <input class="input" type="text" id="kode" placeholder="kodeproyek|||deskripsi">
        </div>
      </div>

      <div class="field">
        <label class="label">Product Owner</label>
        <div class="control">
          <input class="input" type="text" id="wagroupid" placeholder="minta group id ke bot">
        </div>
      </div>

      <div class="field">
        <label class="label">WhatsApp PO</label>
        <div class="control">
          <input class="input" type="text" id="wagroupid" placeholder="minta group id ke bot">
        </div>
      </div>

      <div class="field">
        <label class="label">Paparan</label>
        <div class="control">
          <textarea class="textarea" id="description" placeholder="Tulis paparan pekerjaan yang sudah selesai"></textarea>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" id="tombolbuatproyek">Kirim</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" id="buttonbatalisiproyek">Batal</button>
        </div>
      </div>