<div class="container">
  <h1 class="title py-3">Project Member</h1>
  <div class="notification is-link box">
    <button class="delete"></button>
    On your payload URL, please change your <code>[githost]</code> with
    <strong>github</strong> or <strong>gitlab</strong>
  </div>
  <div class="table-wrapper">
    <table id="myTable" class="display table is-stripped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Secret</th>
          <th>Payload URL</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="webhook-table-body">
        <!-- Rows will be populated by JavaScript -->
      </tbody>
    </table>
  </div>
</div>
