<div class="container">
  <h1 class="title py-3">Project Owner</h1>
  <button id="addButton" class="button is-primary box btn-flex">
    <i class="bx bx-plus"></i>
    Add a new project
  </button>
  <button  class="button is-primary box btn-flex">
    <a href=""></a>
    ID
  </button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th>Negara</th>
        <th>Barang Terlarang</th>
        <th>Batas Volume Kiriman</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
