<div class="container">
  <h1 class="title py-3">Project Owner</h1>
  <button id="addButton" class="button is-primary box btn-flex">
    <i class="bx bx-plus"></i>
    Add a new project
  </button>
  <table id="myTable" class="display table is-stripped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="webhook-table-body">
      <!-- Rows will be populated by JavaScript -->
    </tbody>
  </table>
</div>
