<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black" id="judul">Linked Device</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-black" id="ket">Linked Device WhatsApp Anda di Sistem ini</p>
                <div class="box">
                    <figure class="avatar" id="avatar">
                            <img id="gambar" src="assets/img/linkdevice.jpg">
                    </figure>
                    <div id="nama" class="subtitle has-text-black">
                        <button id="btn" class="button is-block is-info is-large is-fullwidth">Linked My Device <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </section>